.footer{
  border-top:1px solid $thin-black; 
  width:100%;
  position:fixed;
  bottom:0;
  background-color:#222;
  &__container{
    margin:auto;
    text-align:center;
    max-width:1190px;
    @media screen and (max-width:620px) {
      //display:none;
    }
    &--menu{
      padding:11px 10px;
      li{
        display:inline-block;
        font-size:12px;
        padding:0 9px;
        @media screen and (max-width:620px) {
          font-size:11px;
          padding:0 5px;
        }
        a{
          text-decoration:none;
          color:#999;
          &:hover{
            text-decoration:underline;
          }
        }
      }
    }
  }
}